@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Jura:wght@300;700&family=Pirata+One&family=Poiret+One&family=Rajdhani:wght@300;400;700&family=Unica+One&display=swap');

//'Bungee Hairline' 'Jura' 'Pirata One' 'Poiret One' 'Rajdhani' 'Unica One' 

body {
    background-color: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poiret One', sans-serif;
    font-weight: 700;
}